:root {
    /* color */
    --main-color: #e33f46;
    --white-color: #fcfcfc;
    --black-color: #030303;
    --dark-grey-color: #3c3c3c;
    --grey-color: #808080;
    --light-grey-color: #d1d1d1;

    /* font-size */
    --font-xlarge: 18px;
    --font-large: 16px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
    --font-h1: 32px;
    --font-h2: 28px;
}

body {
    font-family: 'Albert Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}
.inner {
    width: 1300px;
    margin: 0 auto;
}

/* header */
header {
    
}
header .logo-user {
    border-bottom: 1px solid var(--light-grey-color);
    box-sizing: border-box;
}
header .logo-user .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px 0;
}
header .logo-user .inner .logo {
    width: 300px;
    cursor: pointer;
}
header .logo-user .inner .logo img {
    width: 100%;
}

header .logo-user .inner .icon-group {
    width: 90px;
    display: flex;
    justify-content: space-between;
}
header .logo-user .inner .icon-group a {
    font-size: 18px;
    color: var(--dark-grey-color);
    padding: 6px;
    box-sizing: border-box;
}
header .logo-user .inner .icon-group a:hover {
    color: var(--main-color);
}

/* nav */
header nav {
    border-bottom: 1px solid var(--light-grey-color);
    box-sizing: border-box;
}
header nav .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 10px 0;
}
/* menu */
header nav .inner .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}
header nav .inner .menu>li .common-menu {
    font-family: 'Albert Sans', sans-serif;
    font-weight: 700;
}
header nav .inner .menu .category {
    display: block;
    width: 114px;
    height: 50px;
    background-color: var(--main-color);
    text-align: center;
    line-height: 50px;
    z-index: 100;
}
header nav .inner .menu .category .category-btn {
    color: var(--white-color);
    font-weight: 500;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    background: none;
    cursor: pointer;
}
header nav .inner .menu .category .category-btn.open {
    
}
header nav .inner .menu .category .category-btn.close {
    display: none;
}
header nav .inner .menu .category .category-btn i {
    margin-right: 4px;
}
header nav .inner .menu .category .category-btn.close i {
    font-size: 14px;
}
/* category */
header nav .inner .menu .category .category-area {
    display: none;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1.2fr;
    width: 1300px;
    background: var(--white-color);
    border: 1px solid var(--light-grey-color);
    box-sizing: border-box;
    padding-bottom: 30px;
    position: relative;
}
header nav .inner .menu .category .category-area.grid {
    display: grid;
}
header nav .inner .menu .category .category-area .submenu {
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}
header nav .inner .menu .category .category-area .submenu .submenu-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    border-radius: 100px;
    background: var(--main-color);
    color: var(--white-color);
    font-family: 'Albert Sans', sans-serif;
    font-weight: 700;
    font-size: var(--font-large);
    font-weight: 500;
    transition: 0.5s;
    margin-bottom: 4px;
    cursor: pointer;
}
header nav .inner .menu .category .category-area .submenu .submenu-title:hover {
    background: var(--dark-grey-color);
}
header nav .inner .menu .category .category-area .submenu .submenu-list {

}
header nav .inner .menu .category .category-area .submenu .submenu-list li {
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
header nav .inner .menu .category .category-area .submenu .submenu-list li a {
    padding: 6px;
    position: relative;
}
header nav .inner .menu .category .category-area .submenu .submenu-list li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 44px;
    left: 0;
    right: 0;
    background: var(--main-color);
    transition: 0.5s;
    transform: scaleX(0);
}
header nav .inner .menu .category .category-area .submenu .submenu-list li a:hover {
    color: var(--main-color);
}
header nav .inner .menu .category .category-area .submenu .submenu-list li a:hover::after {
    color: var(--main-color);
    transform: scaleX(100%);
}

header nav .inner .menu>li>a {
    font-weight: 500;
    padding: 6px;
    box-sizing: border-box;
}
header nav .inner .menu>li:not(:first-child)>a:hover {
    color: var(--main-color);
}

/* nav-search-area */
header nav .inner .search-area {
    width: 260px;
    height: 100%;
    border-radius: 30px;
    background: var(--light-grey-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
}
header nav .inner .search-area input {
    background: inherit;
    font-size: var(--font-medium);
    width: 210px;
}
header nav .inner .search-area i {
    color: var(--dark-grey-color);
}

/* main */
main {
    width: 100%;
}
main .inner {
    width: 400px;
    padding: 0;
    margin: 100px auto;
}
main .inner .join {
    
}
main .inner .join h1 {
    text-align: center;
    font-size: var(--font-h1);
    font-weight: 700;
    margin-bottom: 35px;
    color: var(--dark-grey-color);
}
main .inner .join h2 {
    font-weight: 500;
    font-size: var(--font-large);
}
main .inner .join input[type=text],
main .inner .join input[type=password],
main .inner .join input[type=submit] {
    width: 100%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    display: block;
    border: 1px solid var(--light-grey-color);
    font-size: var(--font-large);
    margin-bottom: 20px;
}
main .inner .join input:focus {
    border: 1px solid var(--grey-color);
}
main .inner .join .agree {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
main .inner .join .agree input[type=checkbox] {
    cursor: pointer;
    margin: 0 5px 0 0;
}
main .inner .join .agree span {
    font-size: var(--font-medium);
}

main .inner .join .sex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
main .inner .join input[type=radio] {
    display: none;
}
main .inner .join input[type=radio]+label {
    cursor: pointer;
    width: 48%;
    height: 50px;
    border: 1px solid #cccccc;
    line-height: 50px;
    text-align: center;
}
main .inner .join input[type=radio]:checked+label {
    background: var(--dark-grey-color);
    color: var(--white-color);
}
main .inner .join .sex label {
    display: flex;
    align-items: center;
    justify-content: center;
}
main .inner .join .sex img {
    display: none;
    width: 15px;
    margin-right: 5px;
}

main .inner .join .terms {
    margin-bottom: 50px;
}
main .inner .join .terms .terms-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}
main .inner .join .terms .terms-title a {
    font-size: var(--font-small);
}
main .inner .join .terms .scroll-box {
    width: 100%;
    height: 200px;
    overflow: scroll;
    border: 1px solid #cccccc;
    font-size: var(--font-small);
    line-height: 15px;
    padding: 7px;
    box-sizing: border-box;
}
main .inner .join .terms .scroll-box h3 {
    font-weight: 600;
}
main .inner .join .terms .scroll-box h4 {
    font-weight: 500;
}

main .inner .join .personal-info {
    margin-bottom: 50px;
}
main .inner .join .personal-info h2 {
    margin-bottom: 7px;
}
main .inner .join .personal-info table {
    font-size: var(--font-small);
    border: 1px solid #cccccc;
    box-sizing: border-box;
}
main .inner .join .personal-info table th,
main .inner .join .personal-info table td {
    vertical-align: middle;
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #cccccc;
    box-sizing: border-box;
}
main .inner .join .personal-info table thead th {
    height: 30px;
    font-weight: 600;
}
main .inner .join .personal-info table tbody td {
    height: 120px;
    line-height: 16px;
}
main .inner .join .personal-info table tbody tr:nth-child(2) td {
    height: 70px;
}
main .inner .join .personal-info table tbody tr td:last-child {
    font-weight: 600;
    font-size: var(--font-small);
}



main .inner .submit-btn {
    background: #333333;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}
main .inner .submit-btn:hover {
    background-color: #606060;
}
main .inner .submit-btn a {
    color: #ffffff;
    line-height: 50px;
    font-weight: 600;
    font-size: 16px;
}

/* footer */
footer {
    background: var(--black-color);
    position: relative;
}

/* top */
footer .top {
    border-bottom: 1px solid var(--grey-color);
}
footer .top .inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 900px;
    padding: 40px 0;
    box-sizing: border-box;
}
/* top dl 공통사항 */
footer .top .inner dl {

}
footer .top .inner dl dt {
    font-size: var(--font-medium);
    font-weight: 500;
    margin-bottom: 18px;
    color: var(--white-color);
}
footer .top .inner dl dd {
    font-size: var(--font-small);
    color: var(--light-grey-color);
    margin-bottom: 14px;
}
footer .top .inner dl:nth-child(2) dd:hover,
footer .top .inner dl:nth-child(2) dd:hover {
    text-decoration: underline;
}
footer .top .inner dl dd a {
    color: var(--light-grey-color);
}
/* top dl 개별사항 */
footer .top .inner .service-center-number {
    
}
footer .top .inner .service-center-number .telephone-number {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 14px;
    color: var(--white-color);
}
footer .top .inner .service-center-number dd {
    margin-bottom: 6px;
}
footer .top .inner .service-center-number dd span {
    font-weight: 700;
    margin-right: 8px;
}
footer .top .inner .sns {
    
}
footer .top .inner .sns dd {
    display: inline-block;
    margin-right: 8px;
}
footer .top .inner .sns dd a {
    width: 24px;
    height: 24px;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-color);
}
footer .top .inner .sns dd a:hover {
    background: var(--white-color);
}
footer .top .inner .sns dd a i {
    font-size: var(--font-large);
    color: var(--black-color);
}

/* bottom */
footer .bottom {

}
footer .bottom .inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 900px;
    padding: 40px 0;
    box-sizing: border-box;
}
footer .bottom .inner .company-info {
    color: var(--light-grey-color);
    font-size: var(--font-micro);
}
footer .bottom .inner .company-info span {
    display: block;
    margin-bottom: 4px;
}
footer .bottom .inner .payment-info {
    color: var(--light-grey-color);
    font-size: var(--font-small);
}
footer .bottom .inner .payment-info span {
    display: block;
    margin-bottom: 10px;
}
footer .bottom .inner .payment-info span a {
    color: var(--light-grey-color);
    text-decoration: underline;
}
footer .bottom .inner .payment-info span a:hover {
    color: var(--white-color);
}

/* to top */
footer .to-top {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--grey-color);
    position: absolute;
    right: 70px;
    bottom: 70px;
    font-size: var(--font-small);
    cursor: pointer;
}
footer .to-top i {
    margin-bottom: 3px;
}