:root {
    /* color */
    --main-color: #e33f46;
    --white-color: #fcfcfc;
    --black-color: #030303;
    --dark-grey-color: #3c3c3c;
    --grey-color: #808080;
    --light-grey-color: #d1d1d1;

    /* font-size */
    --font-xlarge: 18px;
    --font-large: 16px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
    --font-h1: 32px;
    --font-h2: 28px;
}

body {
    font-family: 'Albert Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}
.inner {
    width: 1300px;
    margin: 0 auto;
}

/* header */
header {
    
}
header .logo-user {
    border-bottom: 1px solid var(--light-grey-color);
    box-sizing: border-box;
}
header .logo-user .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px 0;
}
header .logo-user .inner .logo {
    width: 300px;
}
header .logo-user .inner .logo img {
    width: 100%;
}

header .logo-user .inner .icon-group {
    width: 110px;
    display: flex;
    justify-content: space-between;
}
header .logo-user .inner .icon-group a {
    font-size: 20px;
    color: var(--dark-grey-color);
    padding: 6px;
    box-sizing: border-box;
}
header .logo-user .inner .icon-group a:hover {
    color: var(--main-color);
}

/* nav */
header nav {
    border-bottom: 1px solid var(--light-grey-color);
    box-sizing: border-box;
}
header nav .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 10px 0;
}
/* menu */
header nav .inner .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}
header nav .inner .menu>li .common-menu {
    font-family: 'Albert Sans', sans-serif;
    font-weight: 700;
}
header nav .inner .menu .category {
    display: block;
    width: 114px;
    height: 50px;
    background-color: var(--main-color);
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 100;
}
header nav .inner .menu .category:hover {
    background: var(--dark-grey-color);
}
header nav .inner .menu .category .category-btn {
    color: var(--white-color);
    font-weight: 500;
}
header nav .inner .menu .category .category-btn.open {
    
}
header nav .inner .menu .category .category-btn.close {
    display: none;
}
header nav .inner .menu .category .category-btn i {
    margin-right: 4px;
}
header nav .inner .menu .category .category-btn.close i {
    font-size: 14px;
}
/* category */
header nav .inner .menu .category .category-area {
    display: none;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1.2fr;
    width: 1300px;
    background: var(--white-color);
    border: 1px solid var(--light-grey-color);
    box-sizing: border-box;
    padding-bottom: 30px;
    position: relative;
}
header nav .inner .menu .category .category-area.grid {
    display: grid;
}
header nav .inner .menu .category .category-area .submenu {
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}
header nav .inner .menu .category .category-area .submenu .submenu-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    border-radius: 100px;
    background: var(--main-color);
    color: var(--white-color);
    font-family: 'Albert Sans', sans-serif;
    font-weight: 700;
    font-size: var(--font-large);
    font-weight: 500;
    transition: 0.5s;
    margin-bottom: 4px;
}
header nav .inner .menu .category .category-area .submenu .submenu-title:hover {
    background: var(--dark-grey-color);
}
header nav .inner .menu .category .category-area .submenu .submenu-list {

}
header nav .inner .menu .category .category-area .submenu .submenu-list li {
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
header nav .inner .menu .category .category-area .submenu .submenu-list li a {
    padding: 6px;
    position: relative;
}
header nav .inner .menu .category .category-area .submenu .submenu-list li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 44px;
    left: 0;
    right: 0;
    background: var(--main-color);
    transition: 0.5s;
    transform: scaleX(0);
}
header nav .inner .menu .category .category-area .submenu .submenu-list li a:hover {
    color: var(--main-color);
}
header nav .inner .menu .category .category-area .submenu .submenu-list li a:hover::after {
    color: var(--main-color);
    transform: scaleX(100%);
}

header nav .inner .menu>li>a {
    font-weight: 500;
    padding: 6px;
    box-sizing: border-box;
}
header nav .inner .menu>li:not(:first-child)>a:hover {
    color: var(--main-color);
}

/* bottom-search-area */
header nav .inner .search-area {
    width: 260px;
    height: 100%;
    border-radius: 30px;
    background: var(--light-grey-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
}
header nav .inner .search-area input {
    background: inherit;
    font-size: var(--font-medium);
    width: 210px;
}
header nav .inner .search-area i {
    color: var(--dark-grey-color);
}

/* section 공통사항 */
section .inner {
    border-bottom: 1px solid var(--light-grey-color);
}
section:last-child {
    padding-bottom: 100px;
}

/* section1 */
.section1 {
    height: 400px;
    position: relative;
}
.section1 .inner {
    
}
.section1 .inner .banner-list {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}
.section1 .inner .banner-list li {
    position: relative;
    left: 0;
    width: 100%;
    height: 400px;
    display: flex;
    flex-shrink: 0;
    transition: left 0.15s;
}

.section1 .inner .banner-list li a {

}
.section1 .inner .banner-list li a img {
    width: 100%;
    height: 100%;
}
.section1 .inner .slider-btn {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.section1 .inner .slider-btn button {
    border: none;
    background: var(--light-grey-color);
    opacity: 0.5;
    width: 32px;
    height: 32px;
    border-radius: 18px;
    font-size: var(--font-xlarge);
    cursor: pointer;
}
.section1 .inner .pagination {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.section1 .inner .pagination li {
    color: var(--white-color);
    opacity: 0.8;
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
}
.section1 .inner .pagination li:last-child {
    margin-right: 0;
}
.section1 .inner .pagination li.active {
    color: var(--main-color);
}

/* section common 공통사항 */
.section-common .inner {
    display: flex;
    flex-direction: column;
    padding: 36px 0;
    box-sizing: border-box;
}
.section-common .inner h1{
    font-size: var(--font-h1);
    font-weight: 700;
    font-family: 'Albert Sans', sans-serif;
    margin-bottom: 30px;
}
.section-common .inner .more-btn {
    align-self: center;
    padding: 10px 16px;
    background: var(--dark-grey-color);
    color: var(--white-color);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
    font-weight: 500;
    transition: 0.5s;
    margin-top: 40px;
}
.section-common .inner .more-btn:hover {
    background: var(--grey-color);
}

/* section2, 3 공통사항 */
.description {
    position: relative;
    padding: 16px;
    height: 140px;
    box-sizing: border-box;
}
.description .item-name {
    line-height: 20px;
    font-size: var(--font-large);
    font-weight: 500;
}
.description .item-price {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
}
.description .item-price .percent {
    font-size: 32px;
    font-weight: 700;
    color: var(--main-color);
}
.description .item-price .price {
    
}
.description .item-price .price .original-price {
    display: block;
    font-size: var(--font-small);
    color: var(--grey-color);
    text-decoration: line-through;
    text-align: right;
    margin-bottom: 4px;
}
.description .item-price .price .discount-price {
    display: block;
    font-weight: 500;
    font-size: var(--font-large);
}

/* section2 */
.section2 .inner {
    
}
.section2 .inner h1 {

}
.section2 .inner .new-arrival {
    display: flex;
    justify-content: space-between;
    height: 340px;
}
.section2 .inner .new-arrival li {
    width: 300px;
    height: 100%;
    border: 1px solid var(--light-grey-color);
}
.section2 .inner .new-arrival li a {

}
.section2 .inner .new-arrival li a img {
    width: 100%;
}

/* section3 */
.section3 .inner {
    position: relative;
}
.section3 .inner h1 {

}
.section3 .inner .tabmenu-ranking {
    display: flex;
    justify-content: space-between;
    height: 340px;

}
.section3 .inner .tabmenu-ranking .tabmenu {
    display: flex;
    width: 1000px;
    box-sizing: border-box;
}
.section3 .inner .tabmenu-ranking .tabmenu>li {

}
.section3 .inner .tabmenu-ranking .tabmenu>li .tab-title {
    display: block;
    text-align: center;
    line-height: 40px;
    width: 100px;
    height: 40px;
    background: var(--dark-grey-color);
    color: var(--white-color);
    font-weight: 500;
    transition: 0.25s;
}.section3 .inner .tabmenu-ranking .tabmenu>li .tab-title.fill-main-color {
    background: var(--main-color) !important;
}
.section3 .inner .tabmenu-ranking .tabmenu>li .tab-title:hover {
    background: var(--main-color);
}
.section3 .inner .tabmenu-ranking .tabmenu> li .tab-list {
    display: none;
    justify-content: space-between;
    width: 1000px;
    height: 300px;
    position: absolute;
    left: 0;
    border: 1px solid var(--light-grey-color);
    box-sizing: border-box;
    padding: 30px;
    background: #ffffff;
}
.section3 .inner .tabmenu-ranking .tabmenu> li .tab-list.flex {
    display: flex;
}
.section3 .inner .tabmenu-ranking .tabmenu> li .tab-list>li {
    width: 210px;
    height: 100%;
    border: 1px solid var(--light-grey-color);
}
.section3 .inner .tabmenu-ranking .tabmenu> li .tab-list>li a {
    
}
.section3 .inner .tabmenu-ranking .tabmenu> li .tab-list>li a img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}
/* section3 작은사이즈에 맞춘 탭메뉴 */
.section3 .inner .tabmenu-ranking .tabmenu> li .tab-list>li a .description {
    height: 120px;
    padding: 12px;
}
.section3 .inner .tabmenu-ranking .tabmenu> li .tab-list>li a .description .item-name {
    line-height: 16px;
    font-size: var(--font-medium);
}
.section3 .inner .tabmenu-ranking .tabmenu> li .tab-list>li a .description .item-price {
    bottom: 12px;
    left: 12px;
    right: 12px;
}
.section3 .inner .tabmenu-ranking .tabmenu> li .tab-list>li a .description .item-price .percent {
    font-size: 28px;
}
.section3 .inner .tabmenu-ranking .tabmenu> li .tab-list>li a .description .item-price .price .original-price {
    font-size: var(--font-micro);
    margin-bottom: 2px;
}
.section3 .inner .tabmenu-ranking .tabmenu> li .tab-list>li a .description .item-price .price .discount-price {
    font-size: var(--font-medium);
}

.section3 .inner .tabmenu-ranking .rangking {
    margin-right: 40px;
}
.section3 .inner .tabmenu-ranking .rangking h2 {
    font-size: var(--font-h2);
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Albert Sans', sans-serif;
}
.section3 .inner .tabmenu-ranking .rangking .brand-ranking {

}
.section3 .inner .tabmenu-ranking .rangking .brand-ranking li {
    margin-bottom: 16px;
    width: 100%;
}
.section3 .inner .tabmenu-ranking .rangking .brand-ranking li a {
    font-size: var(--font-medium);
    color: var(--black-color);
    display: flex;
    justify-content: space-between;
}
.section3 .inner .tabmenu-ranking .rangking .brand-ranking li a:hover {
    color: var(--main-color);
    font-weight: 500;
}

/* section4 */
.section4 .inner {
    height: 100%;
}
.section4 .inner h1 {

}
.section4 .inner h1 i {
    margin-left: 10px;
    color: var(--main-color);
    font-size: 38px;
}
.section4 .inner .youtube {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.section4 .inner .youtube iframe {
    margin-bottom: 20px;
}

/* footer */
footer {
    background: var(--black-color);
    position: relative;
}

/* top */
footer .top {
    border-bottom: 1px solid var(--grey-color);
}
footer .top .inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 900px;
    padding: 40px 0;
    box-sizing: border-box;
}
/* top dl 공통사항 */
footer .top .inner dl {

}
footer .top .inner dl dt {
    font-size: var(--font-medium);
    font-weight: 500;
    margin-bottom: 18px;
    color: var(--white-color);
}
footer .top .inner dl dd {
    font-size: var(--font-small);
    color: var(--light-grey-color);
    margin-bottom: 14px;
}
footer .top .inner dl:nth-child(2) dd:hover,
footer .top .inner dl:nth-child(2) dd:hover {
    text-decoration: underline;
}
footer .top .inner dl dd a {
    color: var(--light-grey-color);
}
/* top dl 개별사항 */
footer .top .inner .service-center-number {
    
}
footer .top .inner .service-center-number .telephone-number {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 14px;
    color: var(--white-color);
}
footer .top .inner .service-center-number dd {
    margin-bottom: 6px;
}
footer .top .inner .service-center-number dd span {
    font-weight: 700;
    margin-right: 8px;
}
footer .top .inner .sns {
    
}
footer .top .inner .sns dd {
    display: inline-block;
    margin-right: 8px;
}
footer .top .inner .sns dd a {
    width: 24px;
    height: 24px;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-color);
}
footer .top .inner .sns dd a:hover {
    background: var(--white-color);
}
footer .top .inner .sns dd a i {
    font-size: var(--font-large);
    color: var(--black-color);
}

/* bottom */
footer .bottom {

}
footer .bottom .inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 900px;
    padding: 40px 0;
    box-sizing: border-box;
}
footer .bottom .inner .company-info {
    color: var(--light-grey-color);
    font-size: var(--font-micro);
}
footer .bottom .inner .company-info span {
    display: block;
    margin-bottom: 4px;
}
footer .bottom .inner .payment-info {
    color: var(--light-grey-color);
    font-size: var(--font-small);
}
footer .bottom .inner .payment-info span {
    display: block;
    margin-bottom: 10px;
}
footer .bottom .inner .payment-info span a {
    color: var(--light-grey-color);
    text-decoration: underline;
}
footer .bottom .inner .payment-info span a:hover {
    color: var(--white-color);
}

/* to top */
footer .to-top {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--grey-color);
    position: absolute;
    right: 70px;
    bottom: 70px;
    font-size: var(--font-small);
    cursor: pointer;
}
footer .to-top i {
    margin-bottom: 3px;
}